*{
   padding:0;
   margin:0;
   box-sizing:border-box
}
body{
   background:rgba(0,0,0,1)
}
header{
   min-height:100vh;
   position:relative;
   display:grid;
   place-items: center;
}
.video-container{
   position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit: contain;
   z-index:-2;
}
h1{
   color:#ffff;
   text-transform: capitalize;
}
.preloader{
   position:fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background: #fff;
   display: grid;
   justify-content: center;
   align-items:center;
   visibility:visible;
   z-index:999;
   transition:all 0.3 linear;
}
.hide-preloader{
   z-index:-999;
   visibility:hidden;
}
.switch-btn{
   position:absolute;
   bottom:7%;
   left:7%;
   width:7rem;
   height:2rem;
   display:flex;
   border-radius:20px;
   align-items:center;
   justify-content: space-around;
   border:none;
   transition: all 0.3s linear;
}
.switch-btn span{
   display:inline-block;
   font-size:0.85rem;
   cursor:pointer;
   text-transform:capitalize;
   color:aquamarine;
}
.switch{
   position:absolute;
   width:50%;
   height:100%;
   top:0;
   left:0;
   background:aqua;
   border-radius:20px;
   margin:0;
   display:block;
   transition:all 0.3s linear;
}
.slide .switch{
   left:50%;
}
header::after{
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background: rgba(0,0,0,0.5);
   z-index:-1;
}